/*
 * Use this CSS to learn some intersting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
 
body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  /* height: 50vh; */
  padding: 2rem;
  /* border: 4px solid red; */
  width: 100%;
}

nav {
  /* border: 4px solid yellow; */
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  width: 100%;
  top: 50%;
  /* right: 5%; */
  /* position: absolute; */
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
  /* border: 3px solid black; */
  /* width: 20%; */
}

.logo {
  height: 5.25rem;
}

.login {
  /* border: 3px solid blue; */
  display: flex;
  /* width: 80%; */
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
  width: 100%;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  /* border: none; */
  background: red;
  font-size: 1.2rem;
  border-radius: 0.5em;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  width: 50%;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
  /* background: black; */
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}





.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:50%;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 100;
}





























@media (max-width: 420px) {


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
 
body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  /* height: 100vh; */
  padding: 1rem;
  /* border: 4px solid red; */
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0rem;
  /* width: 70%; */
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin: 0px, auto;
}



.login {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  /* border: 3px solid black; */
  width: 90%;
}

/* .login__input--user{
  border: 14px dotted yellowgreen;
} */

.login__input {
  padding-top: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  /* width: 12rem; */
  width: 100%;
  border: 1px solid #fff;
  /* border: 4px solid yellowgreen; */

}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  /* border: none; */
  margin-top: 1.5rem;
  background: red;
  font-size: 1.2rem;
  border-radius: 10rem;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
}


.app {
  position: relative;
  max-width: 100%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 4fr 3fr; */
  /* grid-template-rows: auto repeat(3, 15rem) auto; */
  /* gap: 2rem; */

  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

.summary {
  /* grid-row: 5 / 6; */
  /* border: 4px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.3rem;
  margin-top: 1rem;
}


.movements {
  border-radius: 1rem;
  width: 100%;
 
}

.movements__row {

  padding: 1rem 0.5rem;

}

.movements__type {
  font-size: 1rem;
  margin-right: 1rem;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.summary__label {
  margin-right: 0rem;
  margin-top: 1rem;

}






















}
